table {
    width: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
   
    border-collapse: collapse;
    color: #686461;
    text-align: center;
}

caption {
    padding: 10px;
    color: white;
    background: #8FD4C1;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

th {
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
  
}

td {
    padding: 10px;
    text-align: center;
    
}

tr:nth-child(odd) {
    background: white;
}

tr:nth-child(even) {
    background: #E8E6D1;
}

div.field {
    padding-bottom: 5px;
}

div.field label {
    display: block;
    float: left;
    width: 70px;
    height: 15px;
}

div.reg label {
    display: block;
    float: left;
    width: 140px;
    height: 15px;
}

.registration_buttons {
    margin-left: 45px;
}

.logout_span {
    margin-left: 45px;
}

.head_sky {
    text-align: right;
}

.search_parameters {
    margin-left: 45px;
}

.keyword {
    margin-left: 65px;
}


body {
  text-shadow: 1px 1px 1px silver,
               -1px 1px 1px silver;
  color: black;
  transition: all .5s;
  }
 
